.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-container {
  background-color: #232323;
  box-shadow: 0px 10px 50px 0px #0000000d;
  box-shadow: 0px 10px 20px 0px #0000000d;
  box-shadow: 0px 2px 10px 0px #00000012;
  box-shadow: 0px 0px 2px 0px #0000001a;
  max-width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 60px;
  position: relative;
}

.dialog-container .dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-container .dialog-title {
  color: white;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dialog-container .dialog-close-button {
  position: absolute;
  right: 30px;
  top: 30px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 8px;
  color: #ffffff;
}

.dialog-container .dialog-body {
  overflow-y: auto;
}
